.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 4rem;
  font-family: 'NowThin';
}

.icon {
  width: 6rem;
  height: 6rem;
}
